.flex-container > * {
  padding: 5px;
}
.flex-container {
  display: flex;
  max-width: 1300px;
  height: 100%;
  flex-direction: column;
  /* color: white; */
  font-family: helvetica, arial, sans-serif;
  flex-wrap: wrap;
}

header {
  background-color: #517A00;
  margin: 0px;
  padding: 0px;
  max-width: 1200px;
}
nav {
  background: cadetblue;
  max-width: 1200px;
  min-height: 30px;
  max-height: 40px;
  padding-left: 0;
  margin-left: 0;
} 
.country {
  background: white;
}
section.flag {
  background: lightgray;
  max-height: 200px;
}
footer {
  color: white;
  text-align: center;
  background-color: #012943;
  max-width: 1200px;
}
