.flex-container > * {
  padding: 5px;
}
.flex-container {
  display: flex;
  max-width: 1200px;
  height: 100%;
  flex-direction: column;
  /* color: white; */
  background: #eee;
  font-family: Helvetica, Arial, sans-serif;
}

header {
  background-color: #517A00;
  margin: 0px;
  padding: 0px;
  max-width: 1200px;
}
nav {
  max-width: 1200px;
  min-height: 30px;
  /* max-height: 40px; this makes dropdown vanish because it is part of nav */
  padding-left: 0;
  margin-left: 0;
} 
.country {
  background: #eee;
}
.grid {
  background: #eee;
}
section.flag {
  background: #eee;
  max-width: 1200px;
  margin-left: 16px;
}
section.comment {
  line-height: 1.5;
  margin-left: 12px;
}
section.gallery {
  margin-left: 12px;
  margin-top: 5px;
}
footer {
  color: white;
  text-align: center;
  background-color: #012943;
  max-width: 1200px;
}
