.flex-container {
  font-family: Georgia, 'Times New Roman', serif; 
  border: 1px dotted black;
  margin: 20px 20px;
  width: 1000px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
/*   flex-direction: column; */
}

/* flex-items */
section.flex-container > div {
  text-align: center;
  border: 1px solid black;
  margin: 10px;
  border-radius: 15px;

  /*grow shrink basis*/
  flex: 1 0 400px; 
}
/* Individual flex items */
section.flex-container > div:nth-of-type(1){
  background: #dff;
}
section.flex-container > div:nth-of-type(2){
  background: #ffd;
}

h2 {
  font-size: 2em;
}
h3 {
  font-size: 1em;
  color: #222;
}