html, body, main { height: 100%; width: 100%; margin:0; padding:0; position: relative; }

#map { 
  position: relative; 
  height: 100%; 
  order: 8; }

.flex-container > * {
  padding: 5px;
}
.flex-container {
  display: flex;
  max-width: 100%;
  height: 100%;
  flex-direction: column;
  /* color: white; */
  background: white;
  font-family: Helvetica, Arial, sans-serif;
}

header {
  background-color: #517A00;
  margin: 0px;
  padding: 0px;
  order: 1;
}
nav {
  min-height: 30px;
  /* max-height: 40px; this makes dropdown vanish because it is part of nav */
  padding-left: 0;
  margin-left: 0;
  order: 2;
} 
.country {
  order: 4;
}
.grid {
  order: 5;
}
section.flag {
  background: #bbb;
  margin-left: 0px;
  padding-top: 8px;
  order: 3;
}
section.flag img {
  margin-left: 16px;
}
section.comment {
  line-height: 1.5;
  margin-left: 12px;
  order: 6;
}
section.gallery {
  margin-left: 12px;
  margin-top: 5px;
  order: 7;
}
footer {
  background-color: #012943;
  color: white;
  text-align: center;
  max-width: 100%;
  order: 9;
}
