section.flag {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
}
section.flag div {
  margin-left: 0.7em;
  margin-right: 1.5em;
  border-radius: 16px;
}
section.flag div i.fas {
  margin-right: 8px;
}

section.flag div.rating-A {
  background-color: green;
  color: white;
}
section.flag div.rating-B {
  background-color: #b0d334;
  color: black;
}
section.flag div.rating-C {
  background-color: yellow;
  color: #444;
}
section.flag div.rating-D {
  /* background-color: #fab733; */
  background-color: #faa733;
  color: black;
}
section.flag div.rating-F {
  background-color: #ff3311;
  color: black;
}

section.flag div h2 {
  margin-top: 0px;
  margin-left: 16px;
  margin-right: 12px;
  margin-bottom: 1.3em;
  font-size: 1.15em;
  float: left;
  word-wrap: break-word;
}
section.flag div h3 {
  margin-left: 14px;
  margin-top: 0.5em;
  margin-bottom: 9px;
  font-size: 2em;
  position: relative;
}

.flag .right {
  visibility: hidden;
}