/* fix from Truong, Peterson LL */
html {
  box-sizing: border-box;
}
/* so child inherits box sizing */
*, *:before, *:after {
  box-sizing: inherit;
}
html, body {
  margin: 0;
  padding: 0;
  background: #ddd;
}

header img {
  margin-left: 8px;
  float: left;
}
header p {
  margin-top: 8px;
  margin-left: 30px;
  color: white;
  font-size: 1em;
  position: relative;
}
header p a {
  color: white;
  text-decoration: none;
}

h1 {
  font-size: 2em;
  margin: 5px 0px 0px 12px;
}

section.comment {
  max-width: 900px;
  margin: 0;
  padding-top: 20px;
}
section.comment p {
  font-family: Helvetica, sans-serif;
  font-size: 1em;
  margin-top: 4px;
  margin-bottom: 10px;
  padding: 0px;
}
section.comment h4 {
  font-size: 1em;
  margin-bottom: 0px;
}

section.comment h3 {
  font-size: 1.1em;
  margin-bottom: 0.2em;
  margin-top: 1.2em;
}

h4 {
  margin: 0;
}
.gallery h4 {
  font-size: 1em;
  margin-left: 0px;
  margin-bottom: 12px;
}

section.gallery {
  margin-bottom: 18px;
}
footer p {
  font-size: 0.9em;
  max-width: 900px;
}
footer p.lowline {
  font-size: 0.7em;
}
footer p a {
  color: white;
  text-decoration: none;
}

.Containers img {
  max-width: 100%;
  /* height: auto; */
}