/* border-box fix from Truong LL*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html, body {
  margin: 0;
  padding: 0;
}
header img {
  margin-left: 8px;
}

/* Icons fontawesome */
.icon {
  text-align: right;
}

h1 {
  font-size: 2em;
  margin: 5px 0px 0px 12px;
}

section.comment {
  max-width: 900px;
  margin: 0;
  padding-top: 20px;
}
section.comment p {
  font-family: Helvetica, sans-serif;
  font-size: 1em;
  margin-top: 4px;
  margin-bottom: 10px;
  padding: 0px;
}
section.comment h4 {
  font-size: 1em;
  margin-bottom: 0px;
}

h4 {
  margin: 0;
}
.gallery h4 {
  font-size: 1em;
  margin-left: 0px;
  margin-bottom: 12px;
}

section.gallery {
  margin-bottom: 18px;
}
footer p {
  font-size: 0.9em;
  max-width: 900px;
}
footer p.lowline {
  font-size: 0.7em;
}
footer p a {
  color: white;
  text-decoration: none;
}

