<!-- Slideshow container -->
<div class="slideshow-container fade">

  <!-- Full images with numbers and message Info -->
  <div class="Containers">
    <div class="caption">1/3 Caption caption</div>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c6/Golden-eyed_tree_frog_%28Agalychnis_annae%29.jpg/800px-Golden-eyed_tree_frog_%28Agalychnis_annae%29.jpg" style="width:100%">
    <div class="attribution">First caption</div>
  </div>

  <div class="Containers">
    <div class="MessageInfo">2 / 3</div>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Franeker._Stadhuis._03-08-2021._%28actm%29_02.jpg/475px-Franeker._Stadhuis._03-08-2021._%28actm%29_02.jpg" style="width:100%">
    <div class="Info">Second Caption</div>
  </div>

  <div class="Containers">
    <div class="MessageInfo">3 / 3</div>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Ayuntamiento%2C_Kiel%2C_Alemania%2C_2019-09-10%2C_DD_51-53_HDR.jpg/800px-Ayuntamiento%2C_Kiel%2C_Alemania%2C_2019-09-10%2C_DD_51-53_HDR.jpg" style="width:100%">
    <div class="Info">Third Caption</div>
  </div>

  <!-- Back and forward buttons -->
  <a class="Back" onclick="plusSlides(-1)">&#10094;</a>
  <a class="forward" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<!-- The circles/dots -->
<div style="text-align:center">
  <span class="dots" onclick="currentSlide(1)"></span>
  <span class="dots" onclick="currentSlide(2)"></span>
  <span class="dots" onclick="currentSlide(3)"></span>
</div> 