  
<footer>
  <a href='https://earthovershoot.org'><img src='../img/EarthOvershoot-Logo.png' alt='Logo'></a>
  <p>P.O. Box 5460<br />
  Hanover NH 03755<br />
  (610) 420-5989  Phone<br />
  <a href="mailto:info@earthovershoot.org">Contact</a></p>
  <p class="lowline">&copy; EarthOvershoot 2021, 2023
  &nbsp;&nbsp;
  <a href="https://www.earthovershoot.org/#privacy-policy">Privacy Policy</a>
  &nbsp;&nbsp;
  <a href="https://www.earthovershoot.org/#terms-conditions">Terms &amp; Conditions</a></p>
</footer>

<script src="../js/carousel_kan.js"></script>
</main>
</body>
</html>