
      <!-- Back and forward buttons -->
      <a class="Back" onclick="plusSlides(-1)">&#10094;</a>
      <a class="forward" onclick="plusSlides(1)">&#10095;</a>

      <!-- circles/dots to control carousel -->
      <div style="text-align:center">
        <span class="dots" onclick="currentSlide(1)"></span>
        <span class="dots" onclick="currentSlide(2)"></span>
        <span class="dots" onclick="currentSlide(3)"></span>
      </div> 
    </div>  <!-- carousel ends -->
  </section>  <!-- photo gallery ends -->
  
  <footer>
    <p>Earth Overshoot<br />
    P.O. Box 202<br />
    Ardmore, PA 19003<br />
    (610) 420-5989  Phone<br />
    <a href="mailto:info@earthovershoot.org">Contact</a></p>
    <p class="lowline">&copy; EarthOvershoot 2021
    &nbsp;&nbsp;
    <a href="https://www.earthovershoot.org/#privacy-policy">Privacy Policy</a>
    &nbsp;&nbsp;
    <a href="https://www.earthovershoot.org/#terms-conditions">Terms &amp; Conditions</a></p>
  </footer>
  <script src="../js/carousel_kan.js"></script>
  <script src="https://unpkg.com/@popperjs/core@2"></script>
  
</main>
</body>
</html>