<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/styles.css?version=4">
  <link rel="stylesheet" href="../css/flexbox.css?version=4">
  <link rel="stylesheet" href="../css/grid.css?version=4">
  <link rel="stylesheet" href="../css/dropdown_w3c.css?version=3">
  <link rel="stylesheet" href="../css/carousel_kan.css?version=2">
  <link rel="stylesheet" href="../css/tooltip.css?version=3">
  <link rel="stylesheet" href="../css/header.css">
  <link rel="stylesheet" href="../css/ranking.css">
  <script src="https://kit.fontawesome.com/59089560fc.js" crossorigin="anonymous"></script>
</head>
<body>
<main class="flex-container">

<header>
  <figure>
    <img src='../img/EarthOvershoot-Logo.png' alt='Logo'>
    <figcaption>Sustainable Country Map</figcaption>
  </figure>
  <ul>
    <li><a id='mapLink' href='../about.html'>About the Map</a></li>
    <li><a id='mapLink' href='../map.html'>Back to Map</a></li>
    <li><a href='https://earthovershoot.org'>Home</a></li>
</ul>
</header>
