<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/styles.css?version=5">
  <link rel="stylesheet" href="../css/flexbox.css?version=7">
  <link rel="stylesheet" href="../css/grid.css?version=6">
  <link rel="stylesheet" href="../css/dropdown_w3c.css?version=5">
  <link rel="stylesheet" href="../css/carousel_kan.css?version=2">
  <link rel="stylesheet" href="../css/tooltip.css?version=3">
  <link rel="stylesheet" href="../css/header.css?version=4">
  <link rel="stylesheet" href="../css/nav_links.css">
  <link rel="stylesheet" href="../css/ranking.css?version=2">
  <script src="https://kit.fontawesome.com/59089560fc.js" crossorigin="anonymous"></script>
</head>
<body>
<main class="flex-container">

<header>
  <img src="../img/Map_Logo.svg" alt="Logo MVP Sustainability Map" class="center" width="237" height="195">
</header>
